<?xml version="1.0" encoding="utf-8"?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
    <!-- Define variables for settings folder path -->
    <variable
        name="SettingsFolder"
        value="${specialfolder:folder=ApplicationData}/StreamingPlayerNET"
    />
    <variable name="LogsFolder" value="${SettingsFolder}/logs" />
    <!-- Define targets -->
    <targets>
        <!-- Console target -->
        <target
            xsi:type="Console"
            name="console"
            layout="${longdate} ${level:uppercase=true:padding=-5} ${logger:shortName=true} ${message} ${exception:format=tostring}"
        />
        <!-- File target - new log file every app start -->
        <target
            xsi:type="File"
            name="logfile"
            fileName="${LogsFolder}/StreamingPlayerNET-${date:format=yyyy-MM-dd_HH-mm}.log"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid:padding=2}] ${logger:shortName=true:padding=-20} ${message} ${exception:format=tostring}"
        />
        <!-- Debug file target for detailed debugging - new log file every app start -->
        <target
            xsi:type="File"
            name="debugfile"
            fileName="${LogsFolder}/StreamingPlayerNET-debug-${date:format=yyyy-MM-dd_HH-mm}.log"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid:padding=2}] ${logger:shortName=true:padding=-20} ${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true} ${message} ${exception:format=tostring}"
        />
    </targets>
    <!-- Define rules -->
    <rules>
        <!-- Console logging for INFO and above -->
        <logger name="*" minlevel="Info" writeTo="console" />
        <!-- File logging for all levels -->
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <!-- Debug file logging for DEBUG and TRACE -->
        <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
        <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="debugfile" />
    </rules>
</nlog>
